/* Start Global Rules */
/* End Global Rules */
:root {
  --main-color: #0d6efd;
  --alt-color: #ecf1ff;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--alt-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.nav-link:hover {
  color: var(--main-color);
  transition: 0.3s;
  background-color: var(--alt-color);
  border-radius: 6px;
}
.nav-link {
  font-weight: 600;
}
.posts .avatar {
  width: 40px;
  height: 40px;
}
.tags li {
  margin-right: 8px;
  background-color: #6c757d;
  color: #fff;
  padding: 4px 8px;
  border-radius: 15px;
}
.listGroup.active {
  display: none;
}
.edit:hover,
.delete:hover {
  background-color: #eee;
  transition: 0.3s;
}
.listGroup,
.ellipsis {
  transition: 0.3s;
}
.ellipsis:hover {
  background-color: #eee;
  color: var(--main-color);
}
.listGroup::before {
  content: "";
  position: absolute;
  right: 6.5px;
  top: -20px;
  border: 10px solid;
  border-color: transparent transparent #6161612d transparent;
  transition: 0.3s;
}
.numberInfo span {
  font-size: 50px;
}
@media (max-width: 767.98px) {
  .numberInfo span {
    font-size: 30px;
  }
  .imageProfile {
    padding-right: 30px !important;
    padding-left: 20px !important;
  }
}
@media (max-width: 991.98px) {
  #navUserName {
    padding-bottom: 10px;
  }
}
/* Start Loader Styles */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #555555;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #555555 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  z-index: 99999;
  width: 100px;
  height: 100px;
}
/* End Loader Styles */
